RewriteEngine On
RewriteBase "/log4j/2.x/"
RewriteRule "^log4j-api/apidocs(.*)$" "javadoc/log4j-api$1" [R=permanent]
RewriteRule "^log4j-core/apidocs(.*)$" "javadoc/log4j-core$1" [R=permanent]

RewriteRule "^log4j-lala(.*)$" "javadoc/log4j-api$1" [R=permanent]
