RewriteEngine On
RewriteBase "/log4j/"
# Latest version
RewriteRule "^$" "2.x/" [R]
# Aliases for 1.x releases
RewriteRule "^1\.2/?(.*)$" "1.x/$1" [R=permanent]
RewriteRule "^log4j-1\.2\.17/?(.*)$" "1.x/$1" [R=permanent]
# Aliases for 2.x releases
RewriteRule "^log4j-2\.[^/]+/?(.*)$" "2.x/$1" [R=permanent]
# Aliases for Apache Log4j Extras releases
RewriteRule "^extras-1\.2\.17/?(.*)$" "extras/$1" [R=permanent]
