RewriteEngine On
RewriteBase "/log4j/2.x/"
# Per-artifact folders
RewriteRule "^log4j-(1\.2-api|appserver|cassandra|couchdb|docker)/(index(\.html)?)?$" "log4j-$1" [R=permanent]
RewriteRule "^log4j-(flume-ng|iostreams|jakarta-web|jcl|jmx-gui)/(index(\.html)?)?$" "log4j-$1" [R=permanent]
RewriteRule "^log4j-(jpl|jul|kubernetes|mongodb[34]|slf4j2?-impl)/(index(\.html)?)?$" "log4j-$1" [R=permanent]
RewriteRule "^log4j-(spring-boot|spring-cloud-config(-client)?|taglib|to-jul|to-slf4j|web)/(index(\.html)?)?$" "log4j-$1" [R=permanent]

